@page "/vehiculos"

@using  Vehiculos20191149.Data.Models;
 
 <PageTitle>Ventas De Vehiculos</PageTitle>
<h1>Registro De Vehiculos </h1>
<label for="txtNombre">Vehiculos</label> 
<input type="text" name="txtNombre" id="txtNombre">
<br> <br>
<label for="txtDescripcion">Marca</label>
<input type="text" name="txtNombre" id="txtNombre">
<br> <br>
<label for="txtNombre">Modelo</label> 
<input type="text" name="txtNombre" id="txtNombre">
<br> <br>
<label for="txtNombre">Año</label> 
<input type="text" name="txtNombre" id="txtNombre">
<br> <br>
<label for="txtNombre">Color</label> 
<input type="text" name="txtNombre" id="txtNombre">

<button> ENVIAR</button>





    
